@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Sans';
  font-weight: 100;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-Light.ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  src: url('../fonts/ibm-plex-sans/IBMPlexSans-Bold.ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  src: url('../fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  src: url('../fonts/ibm-plex-mono/IBMPlexMono-Medium.ttf');
}
