@font-face {
  font-display: fallback;
  font-family: 'NeurialGrotesk';
  font-weight: 100;
  src: url('../fonts/neurial-grotesk/NeurialGrotesk-Light.otf');
}

@font-face {
  font-display: fallback;
  font-family: 'NeurialGrotesk';
  font-weight: 400;
  src: url('../fonts/neurial-grotesk/NeurialGrotesk-Regular.otf');
}

@font-face {
  font-display: fallback;
  font-family: 'NeurialGrotesk';
  font-weight: 500;
  src: url('../fonts/neurial-grotesk/NeurialGrotesk-Medium.otf');
}

@font-face {
  font-display: fallback;
  font-family: 'NeurialGrotesk';
  font-weight: 600;
  src: url('../fonts/neurial-grotesk/NeurialGrotesk-Bold.otf');
}

@font-face {
  font-display: fallback;
  font-family: 'NeurialGrotesk';
  font-weight: 700;
  src: url('../fonts/neurial-grotesk/NeurialGrotesk-Extrabold.otf');
}

@font-face {
  font-display: fallback;
  font-family: 'IBMPlexMono';
  font-weight: 400;
  src: url('../fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-display: fallback;
  font-family: 'IBMPlexMono';
  font-weight: 500;
  src: url('../fonts/ibm-plex-mono/IBMPlexMono-Medium.ttf');
}
