a,
.btnAsLink {
  border-bottom: 1px solid transparent;
  color: $link-color;
  transition-duration: $animate-fast;
  transition-property: color, opacity, border;
  transition-timing-function: ease;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
    text-decoration: inherit;

    &:hover,
    &:active,
    &:focus {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
}
