ul.list-default,
ol.list-default {
  padding-left: $spacing-lg;

  > li {
    margin: $spacing-sm 0;
  }
}

ul.list-unstyled,
ol.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0;
  }
}
