@import 'fonts';

body {
  color: $text-color;
}

body,
input,
button,
p {
  font-family: $font-stack;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: $line-height-relative;
  overflow-wrap: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1,
.text-xl-3 {
  font-size: $font-size-xl-3;
  font-weight: 600;
  line-height: $line-height-relative;
}

h2,
.text-xl-2 {
  font-size: $font-size-xl-2;
  line-height: $line-height-relative;
  margin-bottom: $spacing-base;
}

h3,
.text-xl {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}

h3 {
  font-weight: 400;

  &.text-lg {
    font-weight: 600;
  }
}

h4,
h5 {
  font-weight: 600;
}

h4,
.text-lg {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

h5,
.text-md {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h6 {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

h2,
h3 {
  &:first-child {
    margin-top: 0;
  }
}

p,
ul,
ol {
  margin-bottom: $spacing-base;
  margin-top: $spacing-base;
}

li {
  margin-bottom: $spacing-sm;
  margin-top: $spacing-sm;
}

abbr {
  text-decoration: none;
}

p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

b {
  font-weight: 600;
}

pre,
code {
  background-color: #fff;
  border-radius: $border-radius-sm;
  color: $brand-black;
  font-family: $font-stack-mono;
  font-size: 13px;
}

code {
  border-radius: $border-radius-sm;
  color: $brand-black;
  display: inline-block;
  line-height: $line-height-sm;
  padding: 0 4px;
}

pre {
  display: block;
  max-width: 100%;
  white-space: pre-wrap;
}

pre code {
  white-space: pre;
}

.text-sm {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media (max-width: $screen-sm) {
  h1,
  .text-xl-3 {
    font-size: $font-size-xl-2;
    line-height: $line-height-xl-2;
  }

  h2,
  .text-xl-2 {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
  }

  h3,
  .text-xl {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  h4,
  .text-lg {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
}

// System colors

.text-error {
  color: $system-error;
}

.text-warning {
  color: $system-warning;
}

.text-success {
  color: $system-success;
}
