// Fonts
$font-stack: 'IBM Plex Sans', 'Helvetica Neue', helvetica, -apple-system,
  system-ui, blinkmacsystemfont, roboto, arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';
$font-stack-mono: 'IBM Plex Mono', consolas, 'Courier New', 'Lucida Console',
  courier, monospace;

// Colors
$brand-primary: #36489e;
$brand-primary-dark: #031156;
$brand-primary-light: rgba(54, 72, 158, 0.15);
$brand-primary-lighter: rgba(54, 72, 158, 0.05);
$brand-secondary: #f97f30;
$brand-secondary-light: rgba(249, 127, 48, 0.33);
$brand-secondary-dark: darken($brand-secondary, 20%);
$brand-tertiary: #fbcb5f;

$brand-callout: $brand-secondary;
$brand-callout-dark: $brand-secondary-dark;
$brand-black: #252733;
$brand-gray: #b3b3b3;
$brand-gray-light: #dfe0eb;
$brand-gray-dark: #9fa2b4;
$brand-green: #068e86;
$brand-yellow: #fbcb60;
$brand-red: #c33;

$background-color: #fefefe;

// System Colors
$system-info: #333;
$system-info-bg: #e5e7ee;
$system-success: $brand-green;
$system-success-bg: #cde8e7;
$system-success-bg-light: rgba(6, 142, 134, 0.1);
$system-warning: $brand-yellow;
$system-warning-bg: #fdedca;
$system-error: $brand-red;
$system-error-bg: #f4d6d6;

// Text/Typography
$text-color: $brand-black;
$link-color: $brand-primary;
$link-hover-color: $brand-secondary;

// Font Sizes
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 15px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-xl-2: 26px;
$font-size-xl-3: 31px;
$font-size-xl-4: 37px;

// Line Heights
$line-height-xs: 12px;
$line-height-sm: 15px;
$line-height-base: 18px;
$line-height-lg: 22px;
$line-height-xl: 26px;
$line-height-xl-2: 31px;
$line-height-xl-3: 37px;
$line-height-xl-4: 45px;
$line-height-relative: 1.6rem;

// Spacing
$spacing-xs: 6px;
$spacing-sm: 12px;
$spacing-base: 20px;
$spacing-lg: 30px;
$spacing-xl: 50px;
$spacing-xl-2: 80px;
$spacing-xl-3: 120px;

// Border Radii
$border-radius-sm: 2px;
$border-radius-base: 4px;
$border-radius-lg: 8px;

// Animation
$animate-fast: 0.16s;
$animate-slow: 0.33s;
$animate-really-slow: 0.66s;

$delay-fast: 0.1s;
$delay-slow: 0.25s;
$delay-really-slow: 0.5s;

// Breakpoints
$screen-xl-2-max: 1680px;
$screen-xl-2: 1440px;
$screen-xl-max: $screen-xl-2 - 1;
$screen-xl: 1239px;
$screen-lg-max: $screen-xl - 1;
$screen-lg: 1159px;
$screen-md-max: $screen-lg - 1;
$screen-md: 979px;
$screen-sm-max: $screen-md - 1;
$screen-sm: 767px;
$screen-xs-max: $screen-sm - 1;
$screen-xs: 479px;
$screen-xs-2-max: $screen-xs - 1;
$screen-xs-2: 319px;

// Global Elements
$header-height: 60px;

$nav-font-size: 15px;
$nav-link-color: $brand-primary;
$nav-height: 60px;
$nav-height-md: 120px;

// Z Layers
$layer-modal: 200;
$layer-popup: 100;

// Form Controls
$form-control-height-base: 36px;
