@import 'styles/global';

body {
  background-color: #fcfcfc;
  background-image: linear-gradient(#fff 0, #fcfcfc 60px);
}

.component {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: $spacing-lg;

  h2 {
    margin-top: 0;
  }

  h3 {
    font-size: $font-size-xl;
  }

  &.tint-dark {
    background-color: $brand-primary-dark;
    color: #fff;

    h2,
    h3 {
      color: #fff;
    }
  }

  &.tint-light {
    background-color: $brand-primary-light;
  }

  &.minimal {
    background-color: transparent;
    box-shadow: none;
    padding: $spacing-xs 0;
  }
}

.grid {
  display: grid;
  grid-gap: $spacing-lg;
  grid-template-columns: 1fr 1fr 1fr;

  .component {
    margin: 0;
  }
}

.App {
  margin-bottom: $spacing-xl;
}

.text-element {
  font-family: $font-stack-mono;
}

.module {
  margin: $spacing-xl 0;
}
