@import 'styles/global';

body {
  background-color: #fcfcfc;
}

.component {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 30px;

  h2 {
    margin-top: 0;
  }

  &.tint-dark {
    background-color: $brand-primary-dark;
    color: #fff;
  }

  &.tint-light {
    background-color: $brand-primary-light;
  }
}

.grid {
  display: grid;
  grid-gap: $spacing-lg;
  grid-template-columns: 1fr 1fr 1fr;

  .component {
    margin: 0;
  }
}

.App {
  margin-bottom: $spacing-xl;
}

.text-element {
  font-family: $font-stack-mono;
}

.section {
  margin: $spacing-xl 0;
}
