input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'] {
  border: 1px solid #999;
  border-radius: $border-radius-base;
  height: 32px;
  margin: 0;
  padding: 0 $spacing-xs;
  transition-property: border-color, color, outline, background-color,
    box-shadow;
  transition-duration: $animate-fast;
  transition-timing-function: ease;

  &:focus {
    border-color: $brand-primary;
    color: $brand-primary;
    outline: transparent;
  }

  &[readonly],
  &[disabled] {
    background-color: $brand-gray;
  }
}
