.system-message {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: $border-radius-base;
  color: #333;
  margin: $spacing-base 0;
  padding: $spacing-base;

  &.error {
    background-color: rgba(200, 0, 0, 0.15);
    color: rgba(200, 0, 0, 1);
  }
}
