@import 'variables';
@import 'normalize';
@import 'scrollbars';

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-size: $font-size-base;
  overflow-x: hidden;
}

main {
  flex: 1 1 auto;
  img {
    display: block;
    width: 100%;
  }
}

img,
picture {
  display: block;
  max-width: 100%;
}

@import 'layout';
@import 'typography';
@import 'utils';
@import 'system';
@import 'links';
@import 'buttons';
@import 'lists';
@import 'forms';
@import 'tooltip';
